<!-- <select (change)="setDisplayedUsers($event.target.value)">
  <option value="10" selected>10</option>
  <option value="20">20</option>
  <option value="30">30</option>
</select>
<table>
  <tbody>
    <tr>
      <th>title</th>
      <th>lastname</th>
      <th>city</th>
    </tr>
    <ng-container *ngFor="let user of usersData; let i = index"
      ><tr
        *ngIf="
          i >= currentPage * displayedUsers - displayedUsers &&
          i < currentPage * displayedUsers
        "
      >
        <td>{{ user.name.title }}</td>
        <td>{{ user.name.last }}</td>
        <td>{{ user.location.city }}</td>
      </tr></ng-container
    >
  </tbody>
</table>
<ng-container *ngFor="let page of arr(pages).fill(null); let i = index"
  ><div (click)="setCurrentPage(i + 1)">{{ i + 1 }}</div></ng-container
> -->
<app-users></app-users>
